In [9]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp
import datetime
%matplotlib inline
from sklearn.decomposition import PCA
import mca

In [10]:
data = pd.read_csv("WISE_NEA_COMET_DISCOVERY_STATISTICS.csv")

In [11]:
data.head()

,Designation,Discovery Date YYYY-MM-DD,H (mag),MOID (AU),q (AU),Q (AU),period (yr),i (deg),PHA,Orbit Class
0,419880 (2011 AH37),01/07/2011,19.7,0.035,0.84,4.26,4.06,9.65,Y,Apollo
1,419624 (2010 SO16),09/17/2010,20.5,0.028,0.93,1.08,1.00,14.52,Y,Apollo
2,414772 (2010 OC103),07/28/2010,19.0,0.333,0.39,2.00,1.31,23.11,N,Apollo
3,414746 (2010 EH20),03/06/2010,18.0,0.268,1.25,3.99,4.24,23.89,N,Amor
4,407324 (2010 OB101),07/18/2010,20.7,0.111,0.77,2.46,2.06,9.12,N,Apollo

In [12]:
df = data[:]
df.drop(['H (mag)','MOID (AU)','q (AU)','Q (AU)','period (yr)','i (deg)'], axis=1, inplace=True)
df.head()

/usr/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

           Designation Discovery Date YYYY-MM-DD PHA Orbit Class
0   419880 (2011 AH37)                01/07/2011   Y      Apollo
1   419624 (2010 SO16)                09/17/2010   Y      Apollo
2  414772 (2010 OC103)                07/28/2010   N      Apollo
3   414746 (2010 EH20)                03/06/2010   N        Amor
4  407324 (2010 OB101)                07/18/2010   N      Apollo

###There is no Factor Analysis of Mixed Data (FAMD) in python, but MCA exists for more than 2 categorical variables

In [13]:
mca_df = mca.mca(pd.get_dummies(df))
print(mca_df.fs_r(1))

[[  3.30631171e-01  -1.55208764e+00   9.21453865e-17 ...,   2.01087135e-16
   -8.16698631e-17  -7.99093452e-15]
 [  3.30631171e-01  -1.55208764e+00   6.17728412e-19 ...,  -1.33774048e-15
   -2.86044992e-15  -8.18566327e-15]
 [  3.53326424e-01  -4.57109941e-02   7.37141117e-17 ...,   1.08080618e-01
    7.47379720e-04   4.91804387e-02]
 ...,
 [  3.68840724e-01   9.96904367e-01  -1.58100527e-15 ...,  -1.17784613e-01
   -2.87202615e-01   1.09901246e-02]
 [  3.68840724e-01   9.96904367e-01  -1.25740770e-15 ...,   1.17784613e-01
    2.87202615e-01  -1.09901246e-02]
 [  3.68840724e-01   9.96904367e-01  -2.64309873e-15 ...,  -3.88727980e-15
   -1.24334662e-16   3.26289020e-15]]

In [18]:
print(mca_df.L)

[ 0.92781407  0.62299953  0.5625      0.5625      0.5552103   0.53439731
  0.51432566  0.44033276  0.41902574  0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.25        0.25        0.25
  0.25        0.25        0.25        0.25        0.12252313  0.09049594
  0.08510227  0.07388055  0.07100874  0.06884747  0.0625      0.0625
  0.0625      0.0625      0.0625      0.0625      0.0625      0.0625
  0.0625      0.0625      0.0625      0.0625      0.0625      0.0625
  0.0625      0.0625      0.0625      0.0625      0.0625      0.0625
  0.0625      0.0625      0.0625      0.0625      0.0625      0.0625
  0.0625      0.0625      0.0625      0.0625      0.0625    ]